<!DOCTYPE html>
<html>
  <head>
    <title>malika</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>malika</h1>
    <p>Welcome to cuculus </p>
  </body>
</html>
